*.ipynb_checkpoints*
*__pycache__*

env

IDBs/Dataset-Crypt/*
IDBs/Dataset-Finetuning/*

DBs/Dataset-Finetuning/*.csv
DBs/Dataset-Finetuning/features/flowchart*
DBs/Dataset-Finetuning/features/training/*
DBs/Dataset-Finetuning/features/testing/*
DBs/Dataset-Finetuning/features/validation/*
DBs/Dataset-Finetuning/pairs/training/*
DBs/Dataset-Finetuning/pairs/testing/*
DBS/Dataset-Finetuning/pairs/validation/*
DBs/Dataset-Crypt/*.csv
DBs/Dataset-Crypt/features/*
DBs/Dataset-Crypt/pairs/*

inputs/fine_tuning/*

outputs/Crypt/*
